# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Environment variables
.env

# Scan results
results/*.txt
results/*.csv

# Python build files
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db